/* Add these styles to App.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 400px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

h1 {
  color: #3498db;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #3498db;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  margin-top: 15px;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.result {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #f44336;
}

.feedback {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

.tips-container {
  text-align: left;
  margin-top: 20px;
}

.tips-container h3 {
  color: #3498db;
  font-size: 18px;
  margin-bottom: 10px;
}

.tips-container ul {
  list-style-type: none;
  padding: 0;
}

.tips-container li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
}

.tips-container li::before {
  content: '\2022';
  color: #4caf50;
  margin-right: 8px;
}

.emojis {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 24px;
}

.emojis span {
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.emojis span:hover {
  transform: scale(1.2);
}
